﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Teste Itaú";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Professores</h5>
                    <a href="/professores" class="btn btn-primary">visualizar detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Matérias</h5>
                    <a href="/materias" class="btn btn-primary">visualizar detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div>
