﻿@page
@model TesteItau.UI.Pages.MateriasModel
@{
    ViewData["Title"] = "Materias";
}

    <table id="materias" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </tfoot>
    </table>

