﻿@page
@model TesteItau.UI.Pages.ProfessoresModel
@{
    ViewData["Title"] = "Professores";
}


    <table id="professores" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data nascimento</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data nascimento</th>
            </tr>
        </tfoot>
    </table>

